.uww_editor-controls-top {
  @media (min-width: 860px) {
    .page--editor .wrapper {
      padding-top: 0 !important;
    }

    .page--editor .header {
      margin-bottom: 30px;
      top: 60px !important;
    }

    .page--editor .tab__content {
      bottom: auto !important;
    }

    .tab--active .tab__label:after {
      bottom: 0 !important;
      top: auto !important;
    }

    .header__left {
      order: 2 !important;
      margin-left: auto !important;
      margin-right: 0 !important;
      flex-direction: row-reverse !important;
    }

    .header__left .v-button:not(:last-child) {
      margin-right: 0 !important;
      margin-left: 12px !important;
    }

    .header__right {
      margin-left: 0 !important;
      margin-right: 20px !important;
    }

    .header__right .tab__label {
      padding: 0 12px 0 0 !important;
    }

    .tab--active .tab__label:after {
      left: 0 !important;
    }

    .editor__actions {
      order: 0;
      top: 0;
    }
  }

  @media (min-width: 1025px) {
    .editor-cp-tab__content {
      top: auto;
      bottom: auto;
    }

    .editor-cp-tab--active .editor-cp-tab__label:after {
      bottom: 0;
      top: auto;
    }
  }


  .page--editor .header {
    order: unset;
  }
}