@import 'variables';

@mixin newFormBorderFocused {
  border-color: var(--back-color-blue-button) !important;
}

@mixin newFormBorderHover {
  border-color: var(--text-color-blue);
}

@mixin newFormBorderShadow {
  -webkit-box-shadow: 0 0 0 3px $newFormBorderShadowColor;
  box-shadow: 0 0 0 3px $newFormBorderShadowColor;
}

@mixin popoverShadow {
  -webkit-box-shadow: rgba(8, 8, 8, 0.25) 0px 6px 12px -2px, rgba(8, 8, 8, 0.3) 0px 3px 7px -3px !important;
  box-shadow: rgba(8, 8, 8, 0.25) 0px 6px 12px -2px, rgba(8, 8, 8, 0.3) 0px 3px 7px -3px !important;
}