:root {
  --text-color-gray: rgba(255, 255, 255, 0.69);
  --text-color-title: rgba(255, 255, 255, 0.87);
  --text-color-blue: #AAB6FE;
  --text-color-minor: rgba(255, 255, 255, 0.38);
  --text-color-red: #ff5857;
  --text-color-green: #56d469;
  --back-color-deep: #121212;
  --back-color-blue-button: #534bae;
  --blue-button-hover: #49599a;
  --border-color: #343536;
  --border-color-dim: #252526;
  --color-hover-blue: #82b1ff;
  --color-yellow: #ffea60;
  --back-green: rgba(63, 227, 118, .08);
  --back-red: rgba(255, 73, 95, .08);

  --color-00ev: #121212;
  --color-01ev: #1e1e1e;
  --color-02ev: #232323;
  --color-03ev: #252525;
  --color-04ev: #272727;
  --color-06ev: #2c2c2c;
  --color-08ev: #2f2f2f;
  --color-12ev: #333333;
  --color-16ev: #353535;
  --color-24ev: #383838;

  --hover-00ev: #1b1b1b;
  --hover-01ev: #272727;
  --hover-02ev: #2c2c2c;
  --hover-03ev: #2e2e2e;
  --hover-04ev: #2f2f2f;
  --hover-06ev: #343434;
  --hover-08ev: #373737;
  --hover-12ev: #3b3b3b;
  --hover-16ev: #3d3d3d;
  --hover-24ev: #404040;

  --s42-spfb-logo-url: url('https://serguun42.ru/tampermonkey/stonks-tagger/stonks_logo_dark.svg');
  --switcher-layout-background: #353535;
  --switcher-layout-text: rgba(255, 255, 255, 0.87);
  --primary-color: #AAB6FE;
  --primary-color--faded26: #3b3b3b;
}